body,
html {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: 'Cutive Mono', monospace;
  font-size: calc(1rem + 1vw);
  scroll-behavior: smooth;
}

.container{
  display: flex;
  position: fixed;
  right: 3px;
  height:100%;
  align-items: center;
  
}
.main-nav {
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav ul li {
  margin-bottom: 35px;
  font-size: calc(0.3rem + 1vw);
}

.main-nav ul li a {
  float: right;
  text-decoration: none;
  color: grey;
}

section {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*Page styling*/
.home {
  overflow: auto;
  max-width: 100%;
  height: 115%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("images/banner1.png");
  text-align: center;
  
}

#title {
  color: #fff;
  margin-top:30%;
  
}
#intro{
  color:cyan;
  font-size: calc(0.35rem + 1vw);
}

/*ABOUT STYLING*/
#about {
  max-width: 100%;
  height: 105%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/banner2.jpg');
  text-align: center;
  justify-content: center;
  font-size: calc(0.3rem + 1vw);
}
#interest{
  width:85%;
  color: #eee82c;

}

#services{
  color: #eb7ecc;
}
#services ul{
  padding-left:0;
  list-style: none;
}


/*CONTACT STYLING*/
#contact {
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: 105%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("images/Banner3.jpg");
  color: #eaebed;
  font-size: calc(0.3rem + 1vw);
}
form{
  display:flex;
  flex-direction: column;

}
form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: gray;
  font-family: arial;
  font-size: calc(0.3rem + 1vw);
}
form input[type="text"]{
  color:#000;
  font-size:12px;
  margin-bottom: 20px;
}

#small-input div{
  display:flex;
  justify-content:center;
}
#message{
  display:flex;
  justify-content:center;
  margin-bottom: 20px;
}
#message textarea{
  width: calc(50vw - 8px);
  height: calc(50vh - 20px);
}
#form-buttons{
  display:flex;
  justify-content:center
}

#contact img{
  width: calc(5vw+ 5vh);
  height: calc(5vw + 5vh);
}
#imglinks{
  display:flex;
  justify-content:space-evenly;
}

/*PROJECTS STYLING*/
#projects {
  display: flex;
  flex-direction:column;
  justify-content:center;
  max-width: 100%;
  height: 105%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("images/Banner4.png");
  color: white;
  font-size: calc(0.3rem + 1vw);
}
#projects a{
  color: #fff;
}
#project1{
  margin-top: 10%;
  margin-left: 1%;
  width: 80%;
  height: 37%;
  border-style: solid;
  border-color: #fff;
  border-width:thin;
  overflow: auto;
}
#project1 #row1{
  display:flex;
}

#project1 img{
  width: calc(16vw + 16vh);
  height: calc(13vw + 13vh);
  margin: 3%;
}

#project2{
  width: 80%;
  height: 37%;
  margin-left: 1%;
  margin-top:1%;
  border-style: solid;
  border-color: #fff;
  border-width:thin;
  overflow: auto;
}
#project2 #row1{
  display:flex;
}
#project2 img{
  width: calc(16vw + 16vh);
  height: calc(13vw + 13vh);
  margin: 3%;
}
#row1 #info{
  display:flex;
  flex-direction: column;
}

@media all and (min-width:760px) {
  body{
    font-size: 60px;
  }
  #title{
    margin-top: 20%;
  }

  #project1{
    margin-top: 3%;
    height: 44%;
    width: 60%;
    align-self:center;
  }
  #project2{
    height: 44%;
    width: 60%;
    align-self:center;
  }

}