body,
html {
  overflow: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Fantasy";
  font-size: calc(1rem + 1vw);
  font-weight: 100;
  scroll-behavior: smooth;
}
#header {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

/*Header and navigation styling*/
#header .container {
  display: flex;
  justify-content: flex-end;
}

.main-nav {
  align-self: center;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav ul li {
  float: left;
  margin-bottom: 35px;
  font-size: calc(0.3rem + 1vw);
}

.main-nav ul li a {
  text-decoration: none;
  color: grey;
}

section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*Page styling*/
#home {
  overflow: auto;
  max-width: 100%;
  height: 125%;
  background-image: url("/images/banner1.png");
}
#page1 {
  display: flex;
  justify-content: center;
}

#page1 h1 {
  color: #fff;
  margin-top: 10%;
  
}

#about {
  max-width: 100%;
  height: 125%;
  background-image: url("/images/banner2.jpg");
}
#contact {
  max-width: 100%;
  height: 125%;
  background-image: url("/images/Banner3.jpg");
}
#projects {
  max-width: 100%;
  height: 125%;
  background-image: url("/images/Banner4.png");
}
